body {
  background-image:url("http://38.media.tumblr.com/7c59d98496f853facd23bab0a20c2fe2/tumblr_nc062pnjxZ1s8qsdlo1_500.gif");
  text-align:center;
}
p {
  color:#0000E6;
  font-family: Helvetica;
}