/*
    Document   : navbar.css
    Created on : 2015-05-26 05:14 PM
    Author     : c00lfrog650
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

#navbar ul {
	margin: 0;
	padding: 10px;
	list-style-type: none;
	text-align: center;
	background-color: #000;
	}
 
#navbar ul li {
	display: inline;
	}
 
#navbar ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #001;
	}
 
#navbar ul li a:hover {
	color: #000;
	background-color: #fff;
	}

